# 编译产物
build/
build_c/
build_cpp/
*.exe
*.obj
*.o
*.a
*.lib
*.pdb
*.ilk
*.dll
*.ninja
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake

# 编辑器/系统
.vs/
.vscode/
*.user
.DS_Store
Thumbs.db
